<% provide(:title, 'Contact') %>
<div class="center hero-unit">
<h1>Contact</h1>

<p>Contact <%= link_to "Harold Asiimwe", 'https://github.com/HaroldAsiimwe'%> about the sample rails application</p>

	
</div>
